/** Filters **/
.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 4rem;
    padding: 1rem 0;
}

.filtersTitle {
    font-size: 1rem;
    font-weight: 300;
}

.range {
    display: flex;
    gap: 1rem;
}