.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.75rem;
    width: 100%;

    --bar-height: 3px;
    --bar-min-width: 10rem;
}

/** Bar */
.bar {
    flex: 1 1 100%;
    min-width: 100%;
    position: relative;
    min-width: var(--bar-min-width);
    height: var(--bar-height);
}

/** Line */
.line {
    position: absolute;
    height: var(--bar-height);
    width: 100%;
    border-radius: 99px;
}

.lineRange {
    background: black;
}

.lineShadow {
    background: lightgrey;
}

/** Point */
.point {
    position: absolute;
    width: 2px;
    height: var(--bar-height);

    background: white;
}

/** Handler */
.handler {
    position: absolute;
    top: -4px;


    width: 11px;
    height: 11px;
    border: 0;
    border-radius: 50%;

    background: black;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;
    transform: translateX(-50%);
    transform-origin: center center;
}

.handler::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: black;

    transition: all 0.25s;

    opacity: 0;
    transform: scale(1);
}

/* .handlerActive {
    transform: scale(1.5);
} */

.handler:hover::before,
.handlerActive::before {
    opacity: 0.25;
    transform: scale(2.5);
}

/** Input */
.inputContainer {
    flex: 0;

    font-size: 0.875rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 2px;
}

.input {
    text-align: center;
    min-width: 1rem;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    padding: 3px;
    border: 0;
    outline: none;
    border-radius: 4px;
    background: hsl(0, 0%, 95%);
}

.input:disabled {
    background: none;
    color: inherit;
}

.input:hover:not(:disabled) {
    background: hsl(0, 0%, 95%);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type=number] {
    appearance: textfield;
}